# Compiled object files
*.o

# Qt-generated moc files
*moc_*

# Qt resources
*.rcc

# Compiled libraries
*.so
*.a

# Vim swap files
*.swp

# LaTeX bits
*.aux
*.bcf
*.log
*.out
*.pdf
*.run.xml
*.tex

# Mathematica notebooks
*.nb
